$colorBlue: #009FFF;
$colorTextNav: #fff;
$marginLogoAndButton:50px;
.navBackGround {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606060+0,434141+47,000000+100 */
  background: #606060;
  /* Old browsers */
  background: -moz-linear-gradient(top, #606060 0%, #434141 47%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #606060 0%, #434141 47%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #606060 0%, #434141 47%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
height: 70px;
color: $colorTextNav;


.logoPL{
  float: left;
  margin-left: $marginLogoAndButton;
  margin-right: 20px;
  width: 45px;
  height: 45px;
   position: relative;
     top: 2px;
}
.iconHamburger{
margin-left: auto;
margin-right: 25px;
cursor: pointer;

}
.textNAmeLogo{

}

  .buttonJoin {
    color: $colorBlue;
    border: solid 4px $colorBlue;
    border-radius: 15px;

   // display: inline-flex;
    height: 20px;
 // align-items: flex-end;
    transform: translate(0%, 50%);


    .textJoin {
      color: $colorBlue;
      position: relative;
      padding: 10px;
      text-align: center;
         top: -20px;
     transform: translate((0%, -20%));
    }
  }
  .btnNav{
    color: $colorTextNav;
    padding: 15px;
    font-size: 20px;
  }
  .btnNavAll{

     float: right;
     margin-left: auto;
    margin-right: $marginLogoAndButton;
  }

}
