<nav>
  <div>
    <mat-toolbar class="navBackGround">
      <mat-toolbar-row>
        <img src="../../assets/logoPL.gif" alt="Logo Politechnika Lubelska" class="logoPL">
        <h3>Projektor</h3>
        <div class="logoPL" fxShow="true" fxHide.gt-sm>
          <mat-icon *ngIf="true">menu</mat-icon>
          <mat-icon *ngIf="!iconMenu">close</mat-icon>
        </div>
        <span class="example-spacer"></span>
        <div class="btnNavAll" fxShow="true" fxHide.lt-sm="true">
          <a><button mat-button routerLink="home" routerLinkActive="active" class="btnNav">Home</button></a>
          <a><button mat-button routerLink="lecture" routerLinkActive="active" class="btnNav">Course</button></a>
          <a><button mat-button routerLink="test" routerLinkActive="active" class="btnNav">Test</button></a>
          <a><button mat-button routerLink="about" routerLinkActive="active" class="btnNav">About</button></a>
          <a><button mat-button (click)="modalLogin()" class="buttonJoin" class="btnNav buttonJoin"><span class="textJoin">Sign
                In</span></button></a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</nav>
<router-outlet></router-outlet>
